@use '@fjlaubscher/matter/src/styles/colors';

.heading {
  > span:first-child {
    text-transform: capitalize;
  }

  padding: 1rem 0;
  border-top: 1px solid colors.$light-surface;
  border-bottom: 1px solid colors.$light-surface;

  @media (prefers-color-scheme: dark) {
    border-top-color: colors.$dark-surface;
    border-bottom-color: colors.$dark-surface;
  }
}

.rules {
  margin-top: 1rem;

  table {
    margin-bottom: 0;
  }
}

.noWrap {
  white-space: nowrap;
}

.modifier {
  width: 30%;
}

.copyButton {
  margin-bottom: 1rem;
}

.actions {
  margin-bottom: 1rem;

  .toggle {
    align-items: flex-end;
  }
}
