@use '@fjlaubscher/matter/src/styles/breakpoints';

.noWrap {
  white-space: nowrap;
}

.stretch {
  min-width: 75%;
}

.center {
  text-align: center;
}

.italics {
  font-style: italic;
}

.keys {
  font-size: 0.9rem;
  list-style: none;
  padding-left: 0;

  li {
    margin-bottom: 0.5rem;
  }
}

.rules {
  p {
    color: bbb;

  }
}

.list {
  font-size: 0.9rem;
  padding-left: 1.5rem;

  li {
    margin-bottom: 0.5rem;

    ol {
      list-style: lower-roman;
    }

    ul,
    ol {
      padding-top: 0.5rem;
      padding-left: 1rem;
    }
  }
}

.notes {
  font-size: 0.8rem;
}

.keywords {
  font-size: 0.9rem;

  ul {
    font-size: inherit;
    padding-left: 1.5rem;
    margin: 0;

    li {
      margin-bottom: 0.5rem;
    }
  }
}

.link {
  display: block;
  width: 100%;
  text-decoration: none;
}