@use '@fjlaubscher/matter/src/styles/breakpoints';

.image {
  max-width: 100%;

  @media (min-width: breakpoints.$tablet) {
    max-width: breakpoints.$max-form-width;
  }
}

.header {
  @media (min-width: breakpoints.$tablet) {
    flex-direction: row-reverse !important;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.rules {
  max-width: breakpoints.$max-form-width;
}
