@import '@fjlaubscher/matter/src/styles/global';

h1,
h2,
h3,
h4 {
  margin-top: 0;
  margin-bottom: 1rem;
}

#canvas {
  display: none;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 0.25s;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.75);
}

@media print {
  * {
    box-shadow: none;
  }
  body {
    background-color: #fff;
    color: var(--color-light-text);
  }
}
