

.card {
  cursor: pointer;
  padding: 1rem;
  display: flex;
  flex-direction: column;

  table {
    thead th, tbody td {
      font-size: 0.9rem;
      padding: 0.25rem;
    }
  }

  .header {
    align-items: flex-start;
    justify-content: space-between;

    .title {
      gap: 0.25rem;
      overflow: hidden;

      span:nth-child(1) {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: var(--color-accent);
        font-weight: bold;
      }
    }

    .description {
      font-size: 0.75rem;
      color: var(--color-dark-border);

      @media (prefers-color-scheme: dark) {
        color: var(--color-light-border);
      }
    }
  }

  .buttons {
    width: 6rem;
    justify-content: flex-end;
  }

  .button {
    width: auto;
    font-size: 0.9rem;
    background-color: transparent;
  }

  p {
    margin: 0;
  }
}
