.section {
  font-size: 0.9rem;

  h4 {
    color: var(--color-accent);
    margin-bottom: 0.25rem;
    font-weight: normal;
    font-size: inherit;
  }

  p {
    font-size: inherit;
    margin: 0;
  }

  ul {
    margin: 0;
    padding-left: 1.5rem;
    font-size: inherit;
  }
}

.noWrap {
  white-space: nowrap;
}

.center {
  text-align: center !important;
  vertical-align: middle !important;
}