.form {
  h3 {
    margin-bottom: 0;
  }
}

.option {
  button {
    min-height: 2rem;
    font-size: 0.75rem;
  }
}

.cost {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  width: 10%;
}

.section {
  font-size: 0.9rem;

  h4 {
    color: var(--color-accent);
    margin-bottom: 0.25rem;
    font-weight: normal;
    font-size: inherit;
  }

  p {
    font-size: inherit;
    margin: 0;
  }

  ul {
    margin: 0;
    padding-left: 1.5rem;
    font-size: inherit;
  }
}

.noWrap {
  white-space: nowrap;
}

.stretch {
  width: 75%;
}

.center {
  text-align: center !important;
  vertical-align: middle !important;
}

.print {
  gap: 0.5rem;
  page-break-inside: avoid;
  padding-bottom: 1rem;

  &:not(:last-child) {
    border-bottom: 1px solid var(--color-light-surface);

    @media (prefers-color-scheme: dark) {
      border-bottom-color: var(--color-dark-surface);
    }
  }

  .section {
    &:first-child {
      h4 {
        color: var(--color-light-text);
        font-weight: bold;

        @media (prefers-color-scheme: dark) {
          color: var(--color-dark-text);
        }
      }
    }

    h4 {
      color: #606060;
      margin-bottom: 0;

      @media (prefers-color-scheme: dark) {
        color: #b0b0b0;
      }
    }
  }
}
