.print {
  gap: 0.5rem;
  page-break-inside: avoid;
  padding-bottom: 1rem;

  &:not(:last-child) {
    border-bottom: 1px solid var(--color-light-surface);

    @media (prefers-color-scheme: dark) {
      border-bottom-color: var(--color-dark-surface);
    }
  }

  .section {
    &:first-child {
      h4 {
        color: var(--color-light-text);
        font-weight: bold;

        @media (prefers-color-scheme: dark) {
          color: var(--color-dark-text);
        }
      }
    }

    h4 {
      color: #606060;
      margin-bottom: 0;

      @media (prefers-color-scheme: dark) {
        color: #b0b0b0;
      }
    }
  }
}
