@use '@fjlaubscher/matter/src/styles/breakpoints';
@use '@fjlaubscher/matter/src/styles/colors';

.contentsButton {
  width: auto;
  position: fixed;
  z-index: 2;
  bottom: 4.5rem;
  right: 1rem;

  @media (min-width: breakpoints.$tablet) {
    bottom: 2rem;
    right: 2rem;
  }
}

.contents {
  margin: 0;
  padding-left: 0;
  list-style: none;
  font-size: 0.9rem;

  a {
    color: colors.$accent;
  }

  > li > ul {
    padding-top: 0.5rem;

    li:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }

  > li:not(:last-child) {
    padding-bottom: 1rem;
    border-bottom: 1px solid colors.$light-surface;
    margin-bottom: 1rem;

    @media (prefers-color-scheme: dark) {
      border-bottom-color: colors.$dark-surface;
    }
  }
}
