.card {
  cursor: pointer;
  padding: 0.5rem;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  font-size: 0.9rem;

  table {
    margin-bottom: 0.5rem;
  }

  .title {
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 0.5rem;

    span {
      padding-top: 0.5rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .buttons {
    width: 6rem;
    justify-content: flex-end;
  }

  .button {
    width: auto;
    font-size: 0.9rem;
    background-color: transparent;
  }
}
