@use '@fjlaubscher/matter/src/styles/colors';

.buttons {
  width: 100%;
  display: flex;
  align-items: center;

  > button {
    max-width: 6rem;
  }

  > button:nth-child(1) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  > input:nth-child(2) {
    border-radius: 0;
    padding: 0.5rem;
    line-height: 1;
    min-height: 2rem;
    text-align: center;
  }

  > button:nth-child(3) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.labels {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.max {
  color: var(--color-accent);
  font-size: 0.9rem;
  cursor: pointer;
  text-decoration: underline;
}
