@use '@fjlaubscher/matter/src/styles/breakpoints';
@use '@fjlaubscher/matter/src/styles/colors';

.contentsButton {
  width: auto;
  position: fixed;
  z-index: 2;
  bottom: 5.5rem;
  right: 1rem;
  font-size: 1.25rem;
  padding: 0.5rem;

  @media (min-width: breakpoints.$tablet) {
    font-size: 1.5rem;
    padding: 0.75rem;
    bottom: 2rem;
    right: 2rem;
  }
}

.contents {
  width: 100%;
  margin: 0;
  padding-left: 0;
  list-style: none;
  font-size: 0.9rem;

  a {
    color: colors.$accent;
  }

  > li {
    padding-left: 0;
    font-weight: bold;

    > ul {
      padding-left: 1.5rem;
      padding-top: 0.5rem;

      > li {
        font-weight: normal;

        &:not(:last-child) {
          margin-bottom: 0.5rem;
        }
      }
    }

    &:not(:last-child) {
      padding-bottom: 1rem;
      border-bottom: 1px solid colors.$light-surface;
      margin-bottom: 1rem;

      @media (prefers-color-scheme: dark) {
        border-bottom-color: colors.$dark-surface;
      }
    }
  }
}
