.header {
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  border-top: 1px solid var(--color-light-surface);
  border-bottom: 1px solid var(--color-light-surface);

  @media (prefers-color-scheme: dark) {
    border-top-color: var(--color-dark-surface);
    border-bottom-color: var(--color-dark-surface);
  }

  .heading {
    gap: 0;
    align-items: flex-start;

    .title {
      color: var(--color-accent);
      font-size: 1rem;
      margin-bottom: 0.2rem;
      font-weight: bold;
      text-transform: capitalize;

      @media print {
        margin-bottom: 0;
      }
    }

    .description {
      font-size: 1rem;
    }
  }
}

.action {
  font-size: 1.25rem;
  width: auto;
}
