@use "@fjlaubscher/matter/src/styles/breakpoints";

.group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;

  > a {
    text-decoration: none;
    height: 100%;
    width: 100%;
  }

  @media (min-width: breakpoints.$tablet) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (min-width: breakpoints.$tablet) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 1rem;
  aspect-ratio: 1 / 1;
  background-color: var(--color-light-surface);
  border-radius: 0.5rem;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
  box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.1);

  &:hover {
    background-color: var(--color-light-border);

    @media (prefers-color-scheme: dark) {
      background-color: var(--color-dark-border);
    }
  }

  svg {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  span {
    font-size: 1rem;
    text-align: center;
  }

  @media (prefers-color-scheme: dark) {
    background-color: var(--color-dark-surface);
  }

  @media (min-width: breakpoints.$desktop) {
    svg {
      font-size: 4rem;
    }

    span {
      font-size: 1.25rem;
    }
  }
}