.alert {
  p {
    margin: 0;
  }
}

.title {
  margin: 0;
}

.code {
  width: 100%;
  padding: 1rem;
  margin: 0;
  border-radius: 0.5rem;
  background-color: var(--color-light-surface);
  white-space: pre-line;

  @media (prefers-color-scheme: dark) {
    background-color: var(--color-dark-surface);
  }
}
