@use '@fjlaubscher/matter/src/styles/breakpoints';
@use '@fjlaubscher/matter/src/styles/colors';

.rules {
  margin-top: 1rem;

  table {
    margin-bottom: 0;
  }
}

.noWrap {
  white-space: nowrap;
}

.modifier {
  width: 30%;
}

.actions {
  margin-bottom: 1rem;

  .toggle {
    align-items: flex-end;
  }
}
