@use '@fjlaubscher/matter/src/styles/breakpoints';
@use '@fjlaubscher/matter/src/styles/colors';

.rules {
  margin-top: 1rem;

  table {
    margin-bottom: 0;
  }
}

.noWrap {
  white-space: nowrap;
}

.modifier {
  width: 30%;
}

.actions {
  justify-content: space-between;
  margin-bottom: 1rem;

  > div:nth-child(1) {
    max-width: breakpoints.$max-form-width;
    width: 100%;
  }

  .toggle {
    align-items: flex-end;
  }
}

.create {
  .alert {
    margin-bottom: 0;
  }

  form {
    max-width: none;
  }
}