.container {
  gap: 0;
  width: auto;

  .title {
    font-size: 0.9rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  .input {
    height: 0;
    width: 0;
    display: none;

    &:checked + .label {
      background: var(--color-accent);
      color: var(--color-dark-text);
    }

    &:checked + .label:after {
      left: calc(100% - 5px);
      transform: translateX(-100%);
    }
  }

  .label {
    cursor: pointer;
    text-indent: -9999px;
    width: 5rem;
    height: 2rem;
    background-color: var(--color-light-surface);
    color: var(--color-light-text);
    display: block;
    border-radius: 1rem;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: 0.1rem;
      left: 0.1rem;
      width: 1.8rem;
      height: 1.8rem;
      background-color: var(--color-light-background);
      border-radius: 1.8rem;
      transition: 0.3s;

      @media (prefers-color-scheme: dark) {
        background-color: var(--color-dark-background);
      }
    }

    &:active:after {
      width: 0.75rem;
    }

    @media (prefers-color-scheme: dark) {
      color: var(--color-light-text);
      background-color: var(--color-dark-surface);
    }
  }
}
